In [3]:
import pandas as pd

## Dataset : Orden de Fabricación (OF)

In [17]:
# Leer archivo
orden_fabricacion = pd.read_excel('OF 123456.xlsx')

# Verificar las primeras filas del dataframe
orden_fabricacion.head(2)

,Orden,Número material,Texto breve material,Lote,Fecha de inicio real,Fecha de fin real,Cantidad entregada,Unidad de medida
0,200178572,123456,MATERIAL DESCRITION,23/019,2023-04-24,2023-04-24,13.8,L
1,200179217,123456,MATERIAL DESCRITION,23/020,2023-04-24,2023-04-24,13.6,L

In [19]:
orden_fabricacion.columns.isnull().sum()

0

## Dataset: Fases de Producción

In [4]:
file_path = 'Fases Producción.xlsx'

# Leer la hoja de Preinóculo
preinoculo = pd.read_excel(file_path, sheet_name='Preinóculo', header=1)  # header=1 para usar la segunda fila como encabezado

# Leer las hojas de Inóculo y Cultivo Final 
inoculo = pd.read_excel(file_path, sheet_name='Inóculo')
cultivo_final = pd.read_excel(file_path, sheet_name='Cultivo final')

In [5]:

# Ajustar los nombres de las primeras tres columnas añadiendo el prefijo 'pH'
columnas_ajustadas = ['LOTE', 'Fecha/hora inicio', 'Fecha/hora fin', 'pH línea 1', 'pH línea 2', 'pH línea 3', 'Turbidez línea 1', 'Turbidez línea 2', 'Turbidez línea 3', 'Linea Utilizada 1', 'Línea Utilizada 2', 'Linea Utilizada 3']

# Cambiar los nombres de las columnas del dataframe
preinoculo.columns = columnas_ajustadas

preinoculo.head(1)

,LOTE,Fecha/hora inicio,Fecha/hora fin,pH línea 1,pH línea 2,pH línea 3,Turbidez línea 1,Turbidez línea 2,Turbidez línea 3,Linea Utilizada 1,Línea Utilizada 2,Linea Utilizada 3
0,23023,2023-03-26 05:00:00,2023-03-27 07:21:00,5.496,5.504,5.52,28.32,27.92,32,1,1,0

In [6]:
inoculo.head(1)

,LOTE,ID bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de cultivo,Turbidez inicio cultivo,Turbidez final culttivo,Viabilidad final cultivo
0,23019,13171,NaT,NaT,NaN,NaN,32.8,134400000

In [7]:
cultivo_final.head(1)

,LOTE,Orden en el encadenado,LOTE parental,ID Bioreactor,Fecha/hora inicio,Fecha/hora fin,Volumen de inóculo utilizado,Turbidez inicio cultivo,Turbidez fin cultivo,Viabilidad final cultivo,ID Centrífuga,Centrifugación 1 turbidez,Centrifugación 2 turbidez,Producto 1,Producto 2
0,23019,1,NaN,14615,2023-03-21 07:30:00,2023-03-23 06:30:00,82.4,17.28,91.2,184000000,17825,NaN,NaN,1747.92,6.0

In [10]:
# Verificar información general del dataframe de Preinóculo
print(preinoculo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   LOTE               165 non-null    object
 1   Fecha/hora inicio  165 non-null    datetime64[ns]
 2   Fecha/hora fin     165 non-null    datetime64[ns]
 3   pH línea 1         163 non-null    float64
 4   pH línea 2         152 non-null    float64
 5   pH línea 3         138 non-null    object
 6   Turbidez línea 1   163 non-null    float64
 7   Turbidez línea 2   152 non-null    float64
 8   Turbidez línea 3   139 non-null    object
 9   Linea Utilizada 1  165 non-null    int64
 10  Línea Utilizada 2  165 non-null    int64
 11  Linea Utilizada 3  165 non-null    int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 15.6+ KB
None

In [14]:
# Verificar si hay valores nulos
print(preinoculo.isnull().sum())

print(inoculo.isnull().sum())

print(cultivo_final.isnull().sum())

LOTE                  0
Fecha/hora inicio     0
Fecha/hora fin        0
pH línea 1            2
pH línea 2           13
pH línea 3           27
Turbidez línea 1      2
Turbidez línea 2     13
Turbidez línea 3     26
Linea Utilizada 1     0
Línea Utilizada 2     0
Linea Utilizada 3     0
dtype: int64
LOTE                        0
ID bioreactor               0
Fecha/hora inicio           4
Fecha/hora fin              4
Volumen de cultivo          4
Turbidez inicio cultivo     6
Turbidez final culttivo     0
Viabilidad final cultivo    0
dtype: int64
LOTE                              0
Orden en el encadenado            0
LOTE parental                   130
ID Bioreactor                     0
Fecha/hora inicio                 0
Fecha/hora fin                    0
Volumen de inóculo utilizado      5
Turbidez inicio cultivo           0
Turbidez fin cultivo              0
Viabilidad final cultivo          0
ID Centrífuga                     0
Centrifugación 1 turbidez         4
Centrifugación 2 turbidez         9
Producto 1                        0
Producto 2                        0
dtype: int64